<!DOCTYPE html>
<html ng-app="event">
<head>
    <link rel="stylesheet" type="text/css" href="css/material.min.css" />
    <link rel="stylesheet" type="text/css" href="css/create-event.css" />
    <link rel="stylesheet" type="text/css" href="../css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/materialize.clockpicker.css" />
<meta charset="UTF-8">
<title>Event</title>
</head>
 
<body ng-controller="createEventController">
    <div class="containerNProfile">
 
        <div class="signup-screen">
            <div class="space-bot text-center">
                <img src="https://pbs.twimg.com/media/Cu3YQX3WgAAzNXm.jpg:large"
                    alt="Logo" style="width: 128px; height: 128px;">
                <h1 class="nprofileTitle">Create Event</h1>
                <div class="divider"></div>
            </div>
 
            <form action="/event/create" method="post" name="createEvent" novalidate>
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">label</i>
                                <input name="name" placeholder="Name" id="eventName" type="text" ng-model="name" ng-required="true" ng-minlength='2' class="validate">
                                <!--<label for="eventName">Name</label>-->
                                <div class="alert alert-danger" ng-if="createEvent.eventName.$invalid && createEvent.eventName.$dirty">
                                    <div ng-if="createEvent.eventName.$error.required">Please, fill this space. </div>
                                    <div ng-if="createEvent.eventName.$error.minlength">It needs to have at least 2 caracteres.</div>
                                </div>
                            </div>

                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">subject</i> 
                                <input name="description" placeholder="Description" id="eventDescription" type="text" class="validate" ng-model="description" ng-minlength='2' ng-required="true">
                                <!--<label for="eventDescription">Description</label>-->
                                <div class="alert alert-danger" ng-if="createEvent.eventDescription.$invalid && createEvent.eventDescription.$dirty">
                                    <div ng-if="createEvent.eventDescription.$error.required">Please, fill this space. </div>
                                    <div ng-if="createEvent.eventDescription.$error.minlength">It needs to have at least 2 caracteres.</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">date_range</i>
                                <input name="date" type="text" id="eventDate" placeholder="Date" class="datepicker validate" ng-model="event.date" ng-required="true">
                                <!--<label for="eventDate">Date</label>-->
                                <div class="alert alert-danger" ng-if="createEvent.eventDate.$invalid && createEvent.eventDate.$dirty">
                                    <div ng-if="createEvent.eventDate.$error.required">Please, fill this space. </div>
                                </div>
                            </div>
                            <div class="input-field col s6">
                                <!--<label for="eventTime">Time</label>-->
                                <input id="time" name="time" placeholder="Time" class="timepicker" type="text" ng-model="event.time" ng-required="true">
                                <div class="alert alert-danger" ng-if="createEvent.eventTime.$invalid && createEvent.eventTime.$dirty">
                                    <div ng-if="createEvent.eventTime.$error.required">Please, fill this space. </div>
                                </div>
                            </div>
                        </div>

                        <div class="input-field col s12">
                            <i class="material-icons prefix">location_on</i>
                            <input name="location" placeholder="Place" type="text" id="eventPlace" class="validate" ng-model="place" ng-required="true" ng-minlength='2'>
                            <!--<label for="eventPlace">Place</label>-->
                            <div class="alert alert-danger" ng-if="createEvent.eventPlace.$invalid && createEvent.eventPlace.$dirty">
                                <div ng-if="createEvent.eventPlace.$error.required">Please, fill this space.</div>
                                <div ng-if="createEvent.eventPlace.$error.minlength">It needs to have at least 2 caracteres.</div>
                            </div>
                        </div>



                    </div>
                </div>
 
                <button
                    ng-disabled="createEvent.name.$pristine ||
                                createEvent.description.$pristine ||
                                createEvent.date.$pristine"
                    class="waves-effect waves-light btn done"
                    ng-click="newEvent(Event)">
                    <i class="material-icons left">done</i>Done
                </button>
                <button ng-click="clear()" type="button" class="waves-effect waves-light btn clear">
                    <i class="material-icons left">clear</i>Clear
                </button>
                <a class="waves-effect waves-light btn" href="menu-event.html">
                    <i class="material-icons right"></i>Back
                </a>
                </div>
            </form>
        </div>
    </div>


    <script src="../js/angular.min.js"></script>
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/materialize.min.js"></script>
    <script src="../js/materialize.clockpicker.js"></script>
    <script src="../js/moment.min.js"></script>
    <script src="../js/calendar.js"></script>
    <script src="../js/fullcalendar.min.js"></script>
    <script src="../js/pt-br.js"></script>
    <script src="../js/gcal.js"></script>
    <script src="../js/event/event-app.js"></script>
 
</body>
</html>