<!DOCTYPE html>
<html ng-app="event">
<head>
    <link rel="stylesheet" type="text/css" href="css/material.min.css" />
    <link rel="stylesheet" type="text/css" href="css/create-event.css" />
    <link rel="stylesheet" href="css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
<meta charset="UTF-8">
<title>Event</title>
</head>
 
<body ng-controller="eventMenuController">
    <div class="containerNProfile">
 
        <div class="signup-screen">
            <div class="space-bot text-center">
                <img src="https://pbs.twimg.com/media/Cu3YQX3WgAAzNXm.jpg:large"
                    alt="Logo" style="width: 128px; height: 128px;">
                <h1 class="nprofileTitle">Manage Event</h1>
                <div class="divider"></div>
            </div>
 
            <form name="createEvent">
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">label</i> <input
                                    name="Eventname" id="name" type="text" ng-model="Event.name"
                                    ng-required="true" ng-minlength='2' class="validate" required><label
                                    for="name">Edit Name</label>
                                <div ng-messages="createEvent.name.$error"
                                    class="alert alert-danger"
                                    ng-show="createEvent.name.$invalid && createEvent.name.$dirty">
                                    <div ng-message="required">Please, fill this space.
                                    </div>
                                    <div ng-message="minlength">It needs to have at least 2
                                        characteres.
                                    </div>
                                </div>
                            </div>

                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">subject</i> 
                                <input 
                                    name="Eventdesciption" id="description" type="text"
                                    class="validate" ng-model="Event.description"
                                    ng-required="true" ng-minlength="2"> 
                                    <label for="description">Edit Description</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">date_range</i> <input
                                    name="Eventdate" type="text" id="datepicker" class="validate"
                                    ng-model="Event.datepicker" ng-required="true" ui-date><label for="date">Edit Date</label>
                            </div>
                        
                        <div class="input-field col s6">
                            <i class="material-icons prefix">location_on</i> <input
                                name="Eventplace" type="text" id="place" class="validate"
                                ng-model="Event.place.name" ng-required="true">
                            <label for="place">Edit Place</label>
                        </div>
                        
                        </div>
 
                    </div>
                </div>
 
                <button
                    ng-disabled="createEvent.name.$pristine ||
                                createEvent.description.$pristine ||
                                createEvent.date.$pristine"
                    class="waves-effect waves-light btn done"
                    ng-click="newEvent(Event)">
                    <i class="material-icons left">done</i>Done
                </button>
                <button type="button" class="waves-effect waves-light btn clear">
                    <i class="material-icons left">clear</i>Clear
                </button>
                <a class="waves-effect waves-light btn" href="manage-event.html">
                    <i class="material-icons right"></i>Back
                </a>
 
 
            </form>
        </div>
    </div>

    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/angular.min.js"></script>
    <script src="../js/materialize.min.js"></script>
    <script src="../js/event/event-app.js"></script>
 
</body>
</html>