<!DOCTYPE html>
<html ng-app="event">
<head>
    <link rel="stylesheet" type="text/css" href="css/material.min.css" />
    <link rel="stylesheet" type="text/css" href="css/menu-event.css" />
    <link rel="stylesheet" type="text/css" href="../css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../css/fullcalendar.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
<meta charset="UTF-8">
<title>Event</title>
</head>
 
<body ng-controller="eventMenuController">
    <div class="containerNProfile">
 
        <div class="signup-screen">
            <div class="space-bot text-center">
                <img src="https://pbs.twimg.com/media/Cu3YQX3WgAAzNXm.jpg:large"
                    alt="Logo" style="width: 128px; height: 128px;">
                <h1 class="nprofileTitle">Event Menu</h1>
                <div class="divider"></div>
            </div>
 
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                            	<a name="Eventname" id="name" type="text"><label for="name">List of events I participate:
                            	</label></a>                              									
                            </div>
                        </div>

                        <ul>
                            <li ng-repeat="event in events">
                                <a style="color: white" href="/event/profile-host?eventId={{event.id}}">{{event.name}}</a>
                            </li>
                        </ul>


                        
                            <div class="input-field col s6">
                                <i class="material-icons prefix">search</i> 
                                <input placeholder="Event's name" name="Eventsearch" id="search" type="text" class="validate" ng-model="q">
                                <label for="search"></label>
                            </div>
                        
                    </div>
                </div>
            <div class="row">
                <ul>
                    <li ng-repeat="event in allEvents | filter:q as results">
                        <a style="color: white" href="/event/profile-host?eventId={{event.id}}">{{event.name}}</a>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div ui-calendar="uiConfig.calendar" class="span8 calendar" id="calendar" ng-model="eventSources"></div>
            </div>


            <a class="waves-effect waves-light btn" href="http://localhost:8080/user/home">
                    <i class="material-icons right"></i>Back
                </a>

                <a  style="left: 580px" id="create-event-but" class="btn-floating btn-large waves-effect waves-light green" href="create-event.html"><i class="material-icons">add</i></a>             
 
        </div>
    </div>

    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/angular.min.js"></script>
    <script src="../js/materialize.min.js"></script>
    <script src="../js/moment.min.js"></script>
    <script src="../js/calendar.js"></script>
    <script src="../js/fullcalendar.min.js"></script>
    <script src="../js/pt-br.js"></script>
    <script src="../js/gcal.js"></script>
    <script src="../js/event/event-app.js"></script>
 
</body>
</html>
