<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Delete account</title>
</head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<h2>Delete account</h2>

<form action="/user/delete" method="post" ng-app="myApp" ng-controller="validateCtrl"
name="myForm" novalidate>

<p>Username:<br>
<input type="text" name="username" ng-model="username" required>
<span style="color:red" ng-show="myForm.username.$dirty && myForm.username.$invalid">
<span ng-show="myForm.username.$error.required">An username is required.</span>
</span>
</p>

<p>Password:<br>
<input type="password" name="password" ng-model="password" ng-minlength="8" required>
<span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid">
<span ng-show="myForm.password.$error.required">A password is required.</span>
<p>

<input type="submit" value="Delete account"
ng-disabled="myForm.username.$pristine ||
myForm.password.$pristine ||
myForm.username.$dirty && myForm.username.$invalid ||
myForm.password.$dirty && myForm.password.$invalid">
</p>

</form>

<script>
var app = angular.module('myApp', []);
app.controller('validateCtrl', function($scope) {
    $scope.username = '';
    $scope.password = '';
});
</script>

</body>
</html>
