<div>
    <form action="/user/create" method="post" ng-controller="validateCtrl" name="createForm" novalidate>
    <div class="input-field">
        <label for="cUsername">Username:</label>
        <input id="cUsername" type="text" name="username" ng-model="username" class="validate" required>
        <span style="color:red" ng-show="createForm.username.$dirty && createForm.username.$invalid">
            <span ng-show="createForm.username.$error.required">An username is required.</span>
        </span>
    </div>
    <div class="input-field">
        <label for="cName">Name:</label>
        <input id="cName" type="text" name="name" ng-model="name" class="validate" required>
        <span style="color:red" ng-show="createForm.name.$dirty && createForm.name.$invalid">
            <span ng-show="createForm.name.$error.required">An name is required.</span>
        </span>
    </div>
    <div class="input-field">
        <label for="cEmail">Email:</label>
        <input id="cEmail" type="email" name="email" ng-model="email" class="validate" required>
        <span style="color:red" ng-show="createForm.email.$dirty && createForm.email.$invalid">
            <span ng-show="createForm.email.$error.required">An email is required.</span>
            <span ng-show="createForm.email.$error.email">Invalid email.</span>
        </span>
    </div>
    <div class="input-field">
        <label for="cPassword">Password:</label>
        <input id="cPassword" type="password" name="password" ng-model="password" ng-minlength="8" class="validate" required>
        <span style="color:red" ng-show="createForm.password.$dirty && createForm.password.$invalid">
            <span ng-show="createForm.password.$error.required">A password is required.</span>
            <span ng-show="createForm.password.$error.minlength">Password is too small.</span>
        </span>
    </div>

    <button type="submit"
    ng-disabled="createForm.username.$pristine ||
    createForm.name.$pristine ||
    createForm.email.$pristine ||
    createForm.password.$pristine ||
    createForm.username.$dirty && createForm.username.$invalid ||
    createForm.email.$dirty && createForm.email.$invalid ||
    createForm.password.$dirty && createForm.password.$invalid || createForm.password.minlenght"
    class="waves-effect waves-light btn-floating btn-large teal darken-1">
        <i class="material-icons right">send</i>
    </button>
    </form>
</div>
